<app-navbar></app-navbar>
<app-title title="INFORMAÇÕES DA CIRURGIA"></app-title>
<ion-content>
  <div class="container-space-between">
    <div>
      <ng-container *ngFor="let surgeryDetail of surgeryDetails">
        <p class="title">{{surgeryDetail.title}}</p>
        <p class="content">{{surgeryDetail.description}}</p>
      </ng-container>
    </div>
    <div>
      <ion-row>
        <ion-col>
          <button mat-stroked-button (click)="back()">Voltar</button>
        </ion-col>
        <ion-col>
          <button mat-flat-button color="primary" (click)="continue()">
            Continuar
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
