<app-navbar></app-navbar>
<app-title title="CLASSIFICAÇÃO DE RISCO"></app-title>

<ion-content>
  <ion-grid>
    <ion-row>
      <form [formGroup]="form">
          <ng-container formArrayName="risk">
            <div
              class="confirm-terms d-flex ion-justify-content-between ion-align-items-center"
              *ngFor="let r of risk.controls; let i=index"
            >
              <p class="p-toggle" (click)="changeToggle(i)">{{ riskRatings[i]?.description }}</p>
              <mat-slide-toggle color="primary" [formControlName]="i"></mat-slide-toggle>
            </div>
          </ng-container>
      </form>
    </ion-row>

    <div class="ion-margin-top">
      <ion-row>
        <ion-col>
          <div class="d-flex ion-justify-content-center">
            <button mat-flat-button class="btn-draft" (click)="saveRisk(true)">
              Salvar Rascunho
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div class="d-flex ion-justify-content-center">
            <button mat-flat-button class="btn" (click)="saveRisk(false)">
              Continuar
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <app-modal
    *ngIf="modalDraft"
    title="Os dados foram salvos!"
    titlePrimaryButton="Voltar para início"
    (clickPrimaryButton)="saveRisk(true)"
  >
    <p class="modal-text">
      Para seguir com o processo é necessário
      finalizar o preenchimento do formulário.
    </p>
  </app-modal>
</ion-content>

