@import 'src/global.scss';
ion-content {
  --padding-start: 0;
  --padding-end: 0;

  .container-content {
    padding: 0;

    /* Lista de cirurgias */
    mat-list {
      padding: 12px 20px;
      mat-list-item {
        h3 {
          @include font-stylus(600, 16px, #3C3C3C);
          margin-bottom: 5px;
        }
        p {
          @include font-stylus(400, 12px, #828282);

          span:nth-child(2) {
            margin-left: 10px;
            font-size: 12px;
          }
          span:nth-child(1) {
            margin-right: 10px;
            font-size: 12px;
          }
        }
        mat-icon {
          width: 12.33px;
          height: 20px;
          color: #6BB345;
        }
        mat-divider {
          background-color:  #E5E5E5;
        }
      }
    }


  }

}




