<app-navbar></app-navbar>
<app-title title="{{profileScreen}}"></app-title>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding" *ngIf="!loading">
    <ion-row class="ion-no-padding" >
        <ion-col class="ion-no-padding">
          <div class="detail-img d-flex" *ngIf="photo">
              <img class="{{avatar ? 'avatar' : 'default-img'}}" src="{{photo}}">
          </div>
        </ion-col>
    </ion-row>
    <div class="ion-padding" >
      <div class="hospital">
        <ng-container *ngFor="let profile of profileDetail">
            <p class="title"> {{profile.name | titlecase}} </p>
            <p class="content"> {{profile.speciality}} </p>
            <div class="d-flex ion-justify-content-center">
              <app-evaluation-stars *ngIf="rating" [value]="rating"></app-evaluation-stars>
              <p class="content-light"> {{profile?.rating == null ? (profile?.rating || 'Sem avaliação') : (profile?.rating | number: '1.1-1' : 'en')}}
                | {{profile.totalAssessment}} avaliações
              </p>
          </div>
        </ng-container>
      </div>
      <hr>
      <div class="about-hospital" *ngFor="let profile of profileDetail">
        <p class="sub-title">Sobre o {{about_profile}}</p>
        <p class="content-light"> {{profile.description}}</p>
      </div>
      <hr>
      <div class="ion-margin-top">
        <p class="sub-title ion-no-margin">{{ whereOrWhoAttend }}</p>
        <mat-list>
          <mat-list-item *ngFor="let detail of hospitalOrSurgeonDetail">
            <p mat-line class="title" >{{ detail?.name | titlecase }}</p>
            <p mat-line class="content-light">
              {{ detail?.minPrice | currency: 'BRL'}} ~ {{detail?.maxPrice | currency: 'BRL'}}
              <span class="status status-green">
                <span *ngIf="detail?.rating">Nota</span> {{detail?.rating ? (detail?.rating | number: '1.1-1' : 'en') : 'Sem avaliação'}}
              </span>
            </p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="d-flex ion-justify-content-center">
        <button mat-flat-button color="primary" class="btn-schedule-appointment" (click)="toScheduleSurgery()">
          Agendar Consulta
        </button>
      </div>
      <div class="content-btn"></div>
    </div>
  </ion-grid>
  <app-loading-page *ngIf="loading"></app-loading-page>
</ion-content>
