<div class="upload-file-container">
  <label class="label">Outros anexos</label>
  <input class="input-file" type="file" multiple (change)="loadFile($event)">
  <div class="content">
    <span *ngIf="files?.length; else noFilesLoaded">{{files?.length}} arquivo(s) anexado(s)</span>
    <ng-template #noFilesLoaded>Nenhum arquivo anexado</ng-template>
    <mat-icon>add_a_photo</mat-icon>
  </div>
  <div class="files-container">
    <div class="files-added" *ngFor="let file of files; let index = index">
      <mat-icon class="file-icon">insert_drive_file</mat-icon>
      <span class="file-name">{{file?.filename}}</span>
      <mat-icon class="remove-icon" (click)="removeFile(index)">remove_circle</mat-icon>
    </div>
  </div>
</div>
