@import 'src/global.scss';

.content-warning {
  min-height: 107px;
  margin-top: 40px;
  flex-flow: column;

  .title {
    @include font-stylus(600, 16px,#3C3C3C);
  }

  p {
    @include font-stylus(500, 12px, #828282);
  }

  .terms {
    @include font-stylus(700, 12px, #6BB345);
  }
}

p {
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 20px;
}

.accepted-cards-text {
  @include font-stylus(400, 12px, #3C3C3C);
  margin-top: 20px;
}

.accepted-cards-img {
  justify-content: center;
  margin-top: 10px;
}

.btn {
  margin-top: 141px;
  justify-content: center;
  button {
    max-width: 63.13%;
  }
}
