<app-navbar></app-navbar>
<app-title title="PAGAMENTO"></app-title>
<ion-content>
  <div class="container-space-between">
    <div>
      <ion-grid class="ion-no-padding">
        <div class="content-warning container-space-between ">
          <p class="title" *ngIf="typeService == 'surgery'">
            {{ surgeryPayment }}
          </p>
          <p class="title" *ngIf="typeService == 'appointments'">
            {{ appointmentsPayment }}
          </p>
          <div class="content-terms">
            <p>
              Ao continuar, você concorda com nossos
            </p>
            <p class="terms">
              TERMOS DE SERVIÇO & POLÍTICAS DE PRIVACIDADE
            </p>
          </div>
        </div>
        <hr>
        <p class="accepted-cards-text">Cartões aceitos:</p>
        <div class="d-flex accepted-cards-img">
          <img src="../../../../assets/image/accepted-credit-cards.png" alt="">
        </div>
      </ion-grid>
    </div>
    <div class="btn d-flex">
      <button mat-flat-button color="primary" (click)="addCreditCard()">Adicionar cartão de crédito</button>
    </div>
  </div>
</ion-content>
