.title-detail {
  color: #828282;
  font-size: 12px;
}

.text-detail {
  color: #3C3C3C;
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.item-detail {
  color: #3C3C3C;
  font-size: 12px;
}

ul {
  padding-left: 20px;
  margin-top: 0px;
}
