<form [formGroup]="form">
  <ion-grid *ngIf="haveTime">
    <ion-row>
      <ng-container formArrayName="hourList" *ngFor="let hourGroup of form.get('hourList')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
          <ion-col class="ion-margin-bottom" size="3">
            <label for="hour={{i}}" [class]="hourGroup.value.boolean ? 'activated' : ''" (click)="falseInAllLabel(i)">
              {{hourGroup.value.hour.schedule}}
            </label>
            <input id="hour={{i}}" formControlName="boolean" type="checkbox" style="display: none">
          </ion-col>
        </ng-container>
      </ng-container>
    </ion-row>
  </ion-grid>
  <p class="ion-text-center" *ngIf="!haveTime">
    Não há disponibilidade de horário para a data selecionada, por favor escolha outra data
  </p>
</form>
