.min-width-price {
  width: 120px;
}

.ngx-slider.ngx-slider-pointer {
  background-color: black!important;
}

.container-row-icon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

h3 {
font-weight: 600!important;
}

.up-arrow {
  transform: scale(2.5) rotate(180deg);
}

.down-arrow {
  transform: scale(2.5);
}

ion-range {
  padding: 0px;
}
