<app-navbar></app-navbar>
<app-title title="DETALHE DA CIRURGIA"></app-title>
<ion-content>
  <ng-container *ngFor="let nurseReport of surgeryAppointment?.nurseReport">
    <div class="d-flex ion-justify-content-between">
      <p class="text-question">Duração da consulta online</p>
      <p class="text-answer">23 minutos</p>
    </div>
    <div class="d-flex ion-justify-content-between">
      <p class="text-question">Avaliação da enfermeira</p>
      <p class="text-answer">
        {{nurseReport?.assessment}}
      </p>
    </div>
    <div>
      <p class="text-question ion-margin-bottom">Anotações</p>
      <p class="text-answer">
        {{nurseReport?.notes}}
      </p>
    </div>
    <hr>
  </ng-container>
  <p class="text-question">Anexos do paciente</p>
  <div
    class="attachment-download"
    *ngFor="let attachment of attachments">
    <div class="download d-flex ion-justify-content-start ion-align-items-center"
         (click)="getDownloadFile(attachment.code)">
      <mat-icon>insert_drive_file</mat-icon>
      <span class="space-left"></span>
      <p class="text-answer"> {{ attachment.filename }} </p>
    </div>
  </div>
</ion-content>

