.mat-flat-button {
  width: 150px;
}

.container-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.modal-text-date {
  font-size: 18px;
}

.modal-text-alert {
  color: red;
}
