@import 'src/global.scss';

::ng-deep .mat-select-arrow { opacity: 0; }

.container-form {
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;

  p{
    @include font-stylus(400, 12px, #3C3C3C);
  }

  .container-row-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    .up-arrow {
      transform: scale(2.5) rotate(180deg);
    }

    .down-arrow {
      transform: scale(2.5);
    }
  }
}

.large {
  font-size: 30px;
}

mat-form-field.small {
  max-width: 94%;
}

mat-form-field.left {
  margin-left: 5%;
}


.container-list {
  padding-left: 20px;
  padding-right: 20px;

  h3 {
    @include font-stylus(600, 16px, #3C3C3C);
  }

  p > span:nth-child(1) {
    @include font-stylus(400, 12px, #828282);
  }

  mat-divider {
    background-color:  #E5E5E5;
  }
}

button {
  background-color: #ffffff;
  mat-icon {
  color: #6BB345;
  font-weight: 800;
  }
}

::ng-deep.mat-list-item-content {
  padding: 0 !important;
}

