@import "src/global.scss";

ion-content {
  .container-content {
    .form {
      .form-content {
        padding: 12px 0;
        align-items: center;
        app-multiselect-pills {
          width: 100%;
        }
        .slide-toggle-container {
          &:nth-child(2) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}
