@import '../../../../global.scss';
@import "src/theme/variables";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .end {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

}

.card-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 64px;
  p {
    @include font-stylus(400, 12px, #222);
  }
}

a{
  @include font-stylus(700, 12px, $i9-secondary-color);
  cursor: pointer;
}

button {
  margin-top: 40px;
}


.container-logo {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 25px;
}
