
<ion-content>
  <div class="container-space-between">
    <div class="container-logo">
      <img class="logo-vertical" src="assets/image/i9cirurgias_logo_vertical.png">
    </div>
    <div>
      <form [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput placeholder="E-mail ou Telefone" autocomplete="off" formControlName="login">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" placeholder="******" formControlName="password">
        </mat-form-field>
        <mat-error *ngIf="errorLogin"> Login e/ou senha incorretos. Por favor, tente novamente! </mat-error>
        <div class="end">
          <a routerLink="password-recovery">Esqueceu sua senha? </a>
        </div>
      </form>
    </div>
    <div>
      <div class="card-btn">
        <button mat-flat-button color="primary" (click)="login()" [disabled]="disabledLoginButton">
          <span *ngIf="!disabledLoginButton">
            Fazer Login
          </span>
          <span *ngIf="disabledLoginButton">
            <mat-spinner diameter="30"></mat-spinner>
          </span>
        </button>
      </div>
      <div class="center">
        <p>Não tem uma conta? <a routerLink="register">Faça seu cadastro</a></p>
      </div>
    </div>
  </div>
</ion-content>

<app-loading-page *ngIf="loadingPage"></app-loading-page>
