@import '../../../../global.scss';
@import "src/theme/variables";

.title-font {
  @include font-stylus(600, 16px, $i9-black);
  margin: 0px;
}

.font-default {
  @include font-stylus(400, 12px, $i9-grey-dark);
}

.location-icon {
  color: $i9-secondary-color;
  font-size: 14px;
}

.container-hospital {
  display: flex;
  justify-items: center;
  margin: 5px 0px;
}

.container-title {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: center;
}

mat-icon {
  width: 10px;
  height: 14px;
  margin-right: 5px;
  margin-left: -2px;
}

.status{
  @include font-stylus(400, 10px, $i9-primary-color);
  padding: 3px 6px;
  background-color: #C0CFFF;
  text-transform: capitalize;
  border-radius: 20px;
}

.surgeon-status-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-button {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

button[mat-raised-button] {
  min-height: 40px;
  border-radius: 20px !important;
  color: $i9-secondary-color !important;
  border: 1px solid $i9-secondary-color;
  background-color: white!important;
}

.btn-new-surgery {
  width: 150px!important;
}

.container-btn-new-surgery {
  position: fixed;
  bottom: 15px;
  left: 30%;
}

.container-margin-top {
  height: 50px;
}

/*modal de avaliação */
.surgery-rating {
  min-width: 250px;
  flex-flow: column;

  .main-rating  {
    flex-flow: column;
    align-items: center;
  }

  p{
    padding: 0;
    margin: 0;
    @include font-stylus(500, 12px, #000000);
  }

  .evaluation-params {
    width: 100%;
  }

  .container-maximum-rating {
    width: 62.26px;
    height: 69.53px;
    background-image: url('../../../../assets/icon/Vector.png');
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
