@import '../../../../global.scss';
.card-text {
  max-width: 320px;
  min-height: 317px;
  margin-top: 20px;
  padding: 10px;

  .title {
    max-width: 300px;
    min-height: 19px;
    text-align: center;

    @include font-stylus(600, 16px, #334B9D);
  }

  .text-content {
    max-width: 300px;
    min-height: 252px;

    p {
      @include font-stylus(400, 12px, #3C3C3C);
    }
  }

  hr {
    margin-top: 20px;
  }
}

.confirm-terms {
  max-width: 330px;
  min-height: 45px;
  @include font-stylus(400, 12px, #3C3C3C);
  padding-right: 5px;
}

/* Configuração personalizada da modal */
app-modal {

  [title] {
    @include font-stylus(500, 16px, #3C3C3C);
  }

}

app-modal[button] {
  margin-top: 69px;
  @include font-stylus(500, 14px, #FFFFFF);
}




