@import '../../../../global.scss';

.title-detail {
  color: #828282;
  font-size: 12px;
}

.text-detail-start {
  color: #828282;
  font-size: 12px;
  display: flex;
  justify-content: start;
}

.text-title {
  color: #3C3C3C;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: start;
}

.text-detail-end {
  color: #3C3C3C;
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.item-detail {
  color: #3C3C3C;
  font-size: 12px;
}

ul {
  padding-left: 20px;
  margin-top: 0px;
}

.text-answer {
  @include font-stylus(400, 12px, #3C3C3C);
}
