@import "src/theme/variables";

.strong-pasword {
  color: $i9-secondary-color;
  font-size: 12px;
}

.weak-pasword {
  color: red;
  font-size: 12px;
}

.progress {
  margin-bottom: 6px;
  width: 100%;
}
