@import '../../../../global.scss';
@import "src/theme/variables";

.status{
  padding: 3px 6px;
  border-radius: 20px;
}

.status-blue {
  background-color: #C0CFFF;
  @include font-stylus(400, 10px, $i9-primary-color);
}

.status-green {
  background-color: #DCFFCA;
  @include font-stylus(400, 10px, $i9-secondary-color);
}

.status-purple {
  background-color: #DEBDFF;
  @include font-stylus(400, 10px, #8F34EA);
}
