@import '../../../../global.scss';

.container-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 45px;
}

.label-password {
  @include font-stylus(400, 12px, gray);
  margin-top: -20px;
  margin-bottom: 5px;
}

button[mat-flat-button] {
  margin: 0;
  padding: 0;
}


