<ion-content>
  <div class="container-space-between">
    <div>
      <div class="container-logo">
        <img class="logo-vertical" src="assets/image/i9cirurgias_logo_vertical.png">
      </div>
      <form [formGroup]="form">
        <ion-grid>
          <ion-row>
            <mat-form-field appearance="outline">
              <mat-label>Login</mat-label>
              <input formControlName="login" matInput placeholder="E-mail ou telefone" type="text">
            </mat-form-field>
          </ion-row>
          <ion-row>
            <mat-form-field appearance="outline">
              <mat-label>Senha nova</mat-label>
              <input formControlName="password" matInput type="password" maxlength="20">
            </mat-form-field>
            <p class="label-password" *ngIf="!isTouchedAndInvalid('password')">min 8 - máx 12 caracteres</p>
            <mat-error *ngIf="isTouchedAndInvalid('password')">
              Sua senha deve ter de 8 a 20 caracteres, com pelo menos 1 maiúsculo, 1 minúsculo, 1 número e 1 símbolo (@!#$%.-_&*)
            </mat-error>
          </ion-row>
          <div *ngIf="form.get('password').touched" [style]="form.get('password').valid ? 'margin-top: 5px' : 'margin-top: 6px'" class="ion-margin-bottom">
            <app-weak-password [isStrongPassword]="form.get('password').valid"></app-weak-password>
          </div>
          <ion-row>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar senha nova</mat-label>
              <input formControlName="passwordConfirm" matInput type="password" maxlength="20">
            </mat-form-field>
            <mat-error *ngIf="form.errors?.comparingPasswordError && form.get('passwordConfirm').touched">
              Senhas informadas não conferem. Tente novamente
            </mat-error>
          </ion-row>

        </ion-grid>
      </form>
    </div>
    <div>
      <ion-row>
        <ion-col>
          <div class="d-flex ion-justify-content-center">
            <button mat-stroked-button routerLink="">Voltar</button>
          </div>
        </ion-col>
        <ion-col>
          <div class="d-flex ion-justify-content-center">
            <button mat-flat-button color="primary" (click)="saveNewPassword()" [disabled]="form.invalid">
              Cadastrar Nova Senha
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <app-modal-sms
    *ngIf="showModalSms"
    (hideModal)="showAndHideModalSMS()"
    (buttonSend)="confirmCode($event)"
    (buttonResend)="resendSms()"
  ></app-modal-sms>
  <app-loading-page *ngIf="loading"></app-loading-page>
</ion-content>
